.header {
  background-color: #000000;
  display: flex;
  align-items: center;
  color: #e6e6e6;
  border: none;
  padding: 0;
  margin: 0;
  height: auto;
}

.header h1 {
  font-style: italic;
  font-size: 180%;
  padding-left: 3%;
}

.header h2 {
  padding-left: 62%;
}

.header h2 img {
  width: auto;
  height: auto;
}

.header img {
  width: auto;
  height: auto;
}

.footer {
  background-color: #000000;
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  border: none;
  width: 100%;
  height: 8%;
}

.footer h1 {
  color: #ceb68d;
  margin: auto;
  font-size: 180%;

}
